html {
  font-size: 62.5%;
}

body {
  font-family: $font-primary;
  background-color: $color-background-app;
  color: $color-text-primary;
  font-size: 1.6rem;
  margin: 0;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}
