.post-form {
  border: 1px solid $lightGray;
  border-radius: 1.6rem;
  padding: 2.4rem;

  h2 {
    font-size: 1.6rem;
    text-align: left;
    margin-top: 0;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.6rem;

    label {
      align-self: self-start;
      margin-bottom: 0.8rem;
    }

    input,
    textarea {
      border: 1px solid #777;
      border-radius: 0.8rem;
      padding: 0.8rem 1.1rem;
      font-size: 1.4rem;
    }

    textarea {
      min-height: 7.4rem;
      resize: vertical;
    }
  }

  button {
    align-self: flex-end;
    background-color: $primaryBlue;
    color: #fff;
    border: none;
    border-radius: 0.8rem;
    padding: 0.6rem 3rem;
    font-weight: 700;
    cursor: pointer;
    float: right;

    &:disabled {
      background: $lightGray;
      cursor: default;
    }
  }
}
